{% extends 'base.html.twig' %}

{% block body %}
    <h1>Joueurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Arme</th>
                <th>Age</th>
                <th>Photo</th>
                <th>Actions</th>
                <th>Equipe</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td><a href="{{ path('joueur_show', { 'id': joueur.id }) }}">{{ joueur.id }}</a></td>
                <td>{{ joueur.nom }}</td>
                <td>{{ joueur.arme }}</td>
                <td>{{ joueur.age }}</td>
                <td>{{ joueur.photo }}</td>
                <td>{{ joueur.idEquipe.nomEquipe }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('joueur_show', { 'id': joueur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('joueur_edit', { 'id': joueur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('joueur_new') }}">Create a new joueur</a>
        </li>
    </ul>
{% endblock %}
