{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/combat.css') }}">
{% endblock %}
{% block body %}
    <div class="container-combat">

        <div class="round completed">
            <div class="bracket">
                <div class="player winner">
                    <h4 class="name">{{ combats.0.equipe1 }}</h4>
                    <p class="name">{{ combats.0.date|date('Y-m-d H:i') }}</p>
                    <p class="score">11</p>

                </div>

                <div class="player loser">
                    <h4 class="name">{{ combats.0.equipe2 }}</h4>
                    <p class="name">{{ combats.0.date|date('Y-m-d H:i') }}</p>
                    <p class="score">7</p>
                </div>
            </div>
            <div class="bracket">
                <div class="player loser">
                    <h4 class="name">{{ combats.1.equipe1 }}</h4>
                    <p class="name">{{ combats.1.date|date('Y-m-d H:i') }}</p>
                    <p class="score">10</p>
                </div>

                <div class="player winner">
                    <h4 class="name">{{ combats.1.equipe2 }}</h4>
                    <p class="name">{{ combats.1.date|date('Y-m-d H:i') }}</p>
                    <p class="score">19</p>
                </div>
            </div>
            <div class="bracket">
                <div class="player loser">
                    <h4 class="name">{{ combats.2.equipe1 }}</h4>
                    <p class="name">{{ combats.2.date|date('Y-m-d H:i') }}</p>
                    <p class="score">0</p>
                </div>

                <div class="player winner">
                    <h4 class="name">{{ combats.2.equipe2 }}</h4>
                    <p class="name">{{ combats.2.date|date('Y-m-d H:i') }}</p>
                    <p class="score">9</p>
                </div>
            </div>
            <div class="bracket">
                <div class="player winner">
                    <h4 class="name">{{ combats.5.equipe1 }}</h4>
                    <p class="name">{{ combats.5.date|date('Y-m-d H:i') }}</p>
                    <p class="score">15</p>
                </div>

                <div class="player loser">
                    <h4 class="name">{{ combats.5.equipe2 }}</h4>
                    <p class="name">{{ combats.5.date|date('Y-m-d H:i') }}</p>
                    <p class="score">4</p>
                </div>
            </div>

        </div>

        <div class="round">
            <div class="bracket">
                <div class="player">
                    <h4 class="name">{{ combats.8.resultat }}</h4>
                    <p class="name">{{ combats.8.date|date('Y-m-d H:i') }}</p>
                </div>
                <div class="player">
                    <h4 class="name">{{ combats.9.resultat }}</h4>
                    <p class="name">{{ combats.9.date|date('Y-m-d H:i') }}</p>
                </div>
            </div>
            <div class="bracket">
                <div class="player">
                    <h4 class="name">{{ combats.10.resultat }}</h4>
                    <p class="name">{{ combats.10.date|date('Y-m-d H:i') }}</p>
                </div>
                <div class="player">
                    <h4 class="name">{{ combats.11.resultat }}</h4>
                    <p class="name">{{ combats.11.date|date('Y-m-d H:i') }}</p>
                </div>
            </div>
        </div>

        <div class="round">
            <div class="bracket">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            
        </div>
        <div class="image">
            <img src="/assets/images/couronne.png" alt="couronne">
        </div>
    </div>

{% endblock %}
