{% extends 'base.html.twig' %}

{% block body %}
    <h1>Combat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ combat.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if combat.date %}{{ combat.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ combat.resultat }}</td>
            </tr>
            <tr>
                <th>Equipe 1</th>
                <td>{{ combat.equipe1.nomEquipe }}</td>
            </tr>
            <tr>
                <th>Equipe 2</th>
                <td>{{ combat.equipe2.nomEquipe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('combat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('combat_edit', { 'id': combat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
