{% extends 'base.html.twig' %}

{% block body %}
    </br></br></br></br></br></br>
    <h1>Joueurs Equipe</h1>

    <div class="row">
    {% for joueur in equipe.idEquipes %}

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{ joueur.photo }}" alt="...">
                <div class="caption">
                    <h3>{{ joueur.nom }}</h3>
                    <h5>{{ joueur.arme }}</h5>

                </div>
            </div>
        </div>

    {% endfor %}
    </div>
{% if delete_form is defined %}
    <ul>
        <li>
            <a href="{{ path('equipe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('equipe_edit', { 'id': equipe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
{% endblock %}
